<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ajout de plat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Spécificités du plat</h1>
<form action="#" th:action="@{/plat}" th:object="${plato}" method="post">
    <input type="hidden" name="_method" value="POST" />
    <p>Nom: <input type="text" th:field="*{nom}" /></p>
    <p>Prix: <input type="int" th:field="*{prix}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>