<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des plats</title>
</head>
<body> 
<h2 class="h2">Liste des plats</h2>
<div class="d-grid gap-5 d-md-flex justify-content-md-end">
    <a href="savePlat"> 
    <button style="background-color : Transparent;" >Enregistrer un nouveau plat</button></a>
  </div>
<table>
    <thead>         
    <tr>
        <th>Nom</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${plats.empty}">
        <td colspan="3">Aucun plat en base de données</td>
    </tr>
    <tr th:each="plat: ${plats}">
        <td th:text="${plat.nom}"> Nom></td>
        <td th:text="${plat.prix}"> Prix></td>  
        <td>
        <form action="#" th:action="@{'/plat/{id}'(id=${plat.id})}" th:method="DELETE" >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" id="submitButton">Delete</button>
        </form>
        </td>  
    </tr>
    
    </tbody>
</table>
</body>
</html>